
.heroSection{
    height: 90vh;
    background-image: url('../ressources/img/heroImage.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.heroTitle{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.heroSubTitle{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.heroButton{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em 1em;
    border-radius: 5px;
    border: 2px solid #fff;
}


/** Carousel Actu **/

.actuDesktop {
    display: none;
}

.carouselActu {
    position: relative;
    min-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carouselSlides{
    height: 80vw;
    min-width: 500%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    flex-wrap: nowrap;
}

.slide {
    margin: auto;
    width: 70vw;
    height: 75vw;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 2px #00000039;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carouselButton {
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #d9d9d9;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
  
.actuImg{
    width: 90%;
    border-radius: 1em;
    object-fit: cover;
}

.actuTitle{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.actuButton{
    color: #ff0004;
    background-color: #ffffff00;
    border-radius: 5px;
    border: 1px solid #ff0004;
    padding: 0.7em 0.9em;
}


/** Présentation **/

.divPresentation{
    margin: 1em auto;
}

.divPresentation  p{
    width: 90%;
    margin: auto;
}

.imgPresentation{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/** Partanires **/

.divPartenaire {
    width: 100%;
    overflow: hidden;
}
  
.carousel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.logo-partenaire{
    width: 30vw;
    flex-shrink: 0;
}


@media (min-width: 768px) {
    .heroSection{
        height: 90vh;
        background:linear-gradient(to top, rgba(59, 59, 59, 0.52), rgba(32, 32, 32, 0.73)), url('../ressources/img/magasin.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .heroButton{
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        padding: 0.7em 1em;
        border-radius: 5px;
        border: 2px solid #fff;
        transition: .1s ease-in-out;
    }

    .heroButton:hover{
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
    }


    /** Carousel Actu **/

    .carouselActu {
        display:none;
    }

    /** Actu **/

    .actuDesktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .actuImg{
        border-radius: 5px;
    }

    .carteActu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
        border: 2px solid #d9d9d9;
        border-radius: 5px;
    }
    
    /** Présentation **/

    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }

    .divPresentation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 5vw;
    }

    .divPresentation:nth-child(even){
        flex-direction: row-reverse;
    }
    
    .divPresText{
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .imgPresentation{
        width: 400px;
        height: 250px;
        object-fit: cover;
    }

    /** Partanires **/
    
    .carousel-inner {
        
        flex-direction: row;
        
    }

    .logo-partenaire{
        width: 10vw;
        flex-shrink: 0;
    }
}
  