* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff38a
}


/** MenuBurger **/

.burgerMenu{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 99999;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.boxBurger{
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    z-index: 99;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLinesBurger{
    width: 70%;
    height: 70%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lineBurger{
    width: 100%;
    height: 7px;
    background-color: #000;
    position: relative;
}

.lineBurger:nth-child(1){
    left: 0px;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
}


.lineBurger:nth-child(2){
    left:0px;
    transform:rotate(0deg);
    transition: transform 0.4s ease-in-out, bottom 0.4s  ease-in-out;
}


.boxBurger.active .lineBurger:nth-child(1){
    top: 25%;
    transform: rotate(45deg) ;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out, transform  0.4s ease-in-out;
}

.boxBurger.active .lineBurger:nth-child(2){
    bottom:25%;
    transform: rotate(-45deg) ;
    transition: top 0.4s 0.4s ease-in-out, left 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.sideNav {
    top: 0;
    width: 80dvw;
    height: 100dvh;
    position: fixed;
    left: -80dvw;
    background-color: #ff0004;
    transition: 0.3s ease;
    z-index: 98;
}

.burgerList {
    padding-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: left;
}

.burgerA {
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-in-out;
}

.sideNav.active {
    left: 0;
}


/** Common Styles **/

#logoHeader{
    height: 8vh;
    background-size: cover;
    top: 8px;
    left: calc(50% - 60px);
}

#logoPanier{
    height: 5vh;
    background-size: cover;
    margin: 1em;
}

.redTitle{
    font-size: 32px;
    font-weight: 600;
    color: #ff0004;
    padding: 0.5em;
    text-align: center;
}

.blackTitle{
    font-size: 32px;
    font-weight: 800;
    color: #000;
    padding: 0.5em;
    text-align: center;
}

.smallRedTitle{
    width: 90%;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
    color: #ff0004;
    padding: 0.5em 0;
    text-align: left;
}

p{
    font-size: 18px;
    color: #000;
    font-weight: 300;
}

/** footer **/

footer {
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
    padding-top: 1vh;
    margin-top: 5vh;
}

.footerPages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.footerPage{
    font-size: 10px;
    color: #000;
    font-weight: 600;
}

.footerRS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
}

.footerRéseauImg{
    width: 20px;
    height: 20px;
}

.footerCopy{
    font-size: 9px;
    color: #000;
    font-weight: 400;
}